@import "tailwindcss";

@font-face {
    font-family: "pricedown";
    src: url('../public/pricedown.otf');
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'pricedown';
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}